body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #ffffff;
    width: 360px;
    padding: 25px 30px;
    border-radius: 18px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    animation: aparecer 0.8s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.icono {
    font-size: 70px;
    text-align: center;
    margin-bottom: 15px;
    color: #6c5ce7;
}

.card p {
    margin: 10px 0;
    font-size: 16px;
    color: #2d3436;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}


.card p b {
    color: #636e72;
}

.card span {
    font-weight: 600;
    color: #0984e3;
}

@media (max-width: 400px) {
    .card {
        width: 90%;
        padding: 20px;
    }

    .icono {
        font-size: 60px;
    }

    .card p {
        font-size: 15px;
    }
}
